@page "/ingredients"
@using Homagix.Shared
@using Homagix.Shared.Data
@inject HttpClient Http

<html>
<head>
</head>
<body>
<h1>Ingredients Overview</h1>

<p>List of all the ingridients.</p>

@if (regularIngredients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <select onchange="@(e => FilterChanged(e))">
        <option value="Bought">Bought</option>
        <option value="Regular">Regular</option>
    </select>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>@(selection == "Regular" ? "Buy Every(days)" : "Bought")</th>
            </tr>
        </thead>
        <tbody>
            @if (selection == "Regular")
            {
                @foreach (var ingredient in regularIngredients)
                {
                    <tr class="recipe">
                        <td>@(ingredient.amount?.ToString() ?? " ")</td>
                        <td>@ingredient.name</td>
                        <td>@(ingredient.BuyEvery?.ToString() ?? " ")</td>
                    </tr>
                }
            }
            else
            {
                @foreach (var ingredient in boughtIngredients)
                {
                    <tr onclick="@(e => ExpandView(ingredient))">
                    <td>@ingredient.name</td>
                    @if (ingredient.selected)
                    {
                        <td>
                            @foreach (var amount in ingredient.amounts)
                            {
                                <ul>@amount.ToString()</ul>
                            }
                        </td>
                        <td>
                            @foreach (var date in ingredient.dates)
                            {
                                <ul>@date.ToString("dd/MM/yyyy")</ul>
                            }
                        </td>
                    }
                    else
                    {
                        <td>@ingredient.amounts.Count</td>
                        <td>--</td>
                    }
                    </tr>
                }
            }
        </tbody>
    </table>
}
</body>
</html>

@functions {
    Ingredient[] regularIngredients;
    IngredientOverview[] boughtIngredients;

    protected override async Task OnInitAsync()
    {
        regularIngredients = (await Http.GetJsonAsync<Ingredient[]>("api/Ingredients/Ingredients")).Where(i => i.BuyEvery != null).ToArray();
        boughtIngredients = await Http.GetJsonAsync<IngredientOverview[]>("api/Ingredients/BoughtIngredientsOverview");
        selection = "Bought";
    }


    string selection; //Either bought or regular
    void FilterChanged(UIChangeEventArgs args)
    {
        selection = (string)args.Value;
        Console.WriteLine(selection);
    }


    void ExpandView(IngredientOverview e)
    {
        Console.WriteLine("test");
        foreach (var ingredient in boughtIngredients)
        {
            ingredient.selected = false;
        }
        e.selected = true;
    }
}